   *{ margin: 0;  padding: 0;  box-sizing: border-box;  }

   .headr{
    width:100%;  height: 55px; 
     background-color: rgb(1, 16, 46);
    overflow: auto;  
     position:fixed;
      top:0; 
       left:0; 
       opacity: 0.9; 
       z-index:2; 
   }

   .img1{  
     width: 150px;  
        height:53px; 
      border-radius:25px; 
      border:1px solid rgb(5, 1, 36);
        float:left;  
          margin-left:140px; 
            background-color: #fdfcfd;
       }

   .list1 { 
      float: right;  
       margin-right:110px;   
        margin-top:18px;   
         }

   .list1 li{ 
     list-style:none;  
      display: inline-block; 
        margin-left:30px ; 
         color:#fff; 
     }

   .list1 li a{  
      text-decoration:none; 
       color:#fff;  
        font-size:19px;   
        }

   .list1 li:hover{
    border:2px solid #fff;
    width: 70px;
   }
   .section1{  
      width:100%;   height:100vh; 
       background-image: url(pictures/bak2.jpg);
       background-size:cover; 
        }

   .overley{
     width:100%;   height:100%;  
      position: absolute; 
             background-color:rgba(47, 0, 29, 0.669);
   }

   .content{
             width: 60%;   height: 180px;   position: absolute;
              top: 50%;     left : 50%;    text-align: center;
              transform: translate(-50% , -50%);    
   }

   .title1 {
        color: #fff;  font-size:60px;    margin-bottom: 20px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
  }
  .pl1{
     color: #fff;   font-size: 20px;   
       letter-spacing: 2px;   margin-bottom: 12px;
  }
.btn {
     width: 150px;  height: 49px;  border-radius: 6px;  
        font-size: 20px;    border: none;  text-transform: capitalize;
} 
.btn1 {
    background-color: #fff; 
     margin-right: 15px;  
     color: #000; 
      }
.btn2 { 
   background-color: rgb(24, 63, 139); 
      color:#fbf9f9;      }

.btn1:hover {
   background-color:rgb(24, 63, 139);
  }

.content:hover{
  opacity:0.7;
}
.btn2:hover{
  opacity:0.8;
   color:#000;
    z-index:2;
}

.section2{
  width:100%; height:100vh;
   background-color:rgb(18, 62, 115);
}

.gg {
  width:190px; height:5px; background-color: hsl(0, 0%, 4%);
  margin:20px 650px;  border-radius:50px;  margin-top:-50px;
}
.gg:hover{
  background-color:#edb4dc;
  width:190px; height:8px;
}
.palin{
  text-align:center;  color: #fdfdfd;
   font-size:30px;  padding:60px;
    font-size: width;
}

.grob-cection2{
  width:80%; margin:auto;
}
.divtitle1{
  position: relative;
  width: 30%; height:350px;
   background-color: #f8f8f8;
    margin-left:863px; margin-top:90px;
     border-radius:8px;
      text-align: center; 
    
}
.divtitle2{
  position: relative;
  width: 30%; height:350px;
   background-color:#709c94;
  margin-left:450px;  
   margin-top: -350px; border-radius:8px;
  text-align: center;
}
.divtitle3{
  position: relative;
  width: 30%; height:350px;
    background-color:#fbfbfd;
     margin:35px; margin-top:-350px; 
        border-radius:8px;
     text-align: center;
     box-shadow:3px 3px  #ac9797;

}
.divtitle1:hover{
  width: 32%;
   height:355px;
    background-color:#709c94;;
    box-shadow:3px 3px #fafafa;
    transition: 4s;
    opacity:1;
}
.divtitle2:hover{
  width: 32%;
   height:355px;
    background-color:#f9fafa;
    box-shadow:3px 3px #709c94;
    transition: 2s;
    opacity:1;
}
.divtitle3:hover{
  width: 31%;
   height:353px;
    background-color:#709c94;
    box-shadow:3px 3px  #f7f5f5;
    transition: 2s;
    opacity:1;
}
.divtitle1:after{
  content: "";
position: absolute;
width: 0; height: 0;
top:0;
left: 0;
background-color:#2d3634;
opacity:.2;
transition: 3s;
}
 .divtitle1:hover::after{
  width:100%;
  height: 100%;
 }
 .divtitle2:after{
  content: "";
position: absolute;
width: 0; height: 0;
top:0;
left: 0;
background-color:#2d3634;
opacity:.2;
transition: 3s;

}
 .divtitle2:hover::after{
  width:100%;
  height: 100%;
 }
 .divtitle3:after{
  content: "";
position: absolute;
width: 0; height: 0;
top:0;
left: 0;
background-color:#2d3634;
opacity:.2;
transition: 3s;

}
 .divtitle3:hover::after{
  width:100%;
  height: 100%;
 }
.h2{
  margin-top: 10px;  font-size: 35px;
}
.i1{
  font-size:55px; color:#4b42b0;
   margin:30px 130px;
}
.all a{ 
  text-decoration:none; 
  color: #000;
}
.all{
  width:160px;
  height:30px;
   margin-top:50px;
    background-color: #b7b7fd;
     border:none;
    
}
.all:hover{
  width: 31%;
    transition: 2s;
  background-color: #fff;

}
.prgraf1{
      font-size:20px;
      color: #000; text-align:center;
       margin-top:35px;
         
}
/*///////////////////////////////////////////////////////////////////////////////*/
.section3{
  width:100%;
  height:100vh;
  background-color: rgb(67, 67, 131);
}
.continte{
  position: relative;
  width:350px; height:230px; 
  margin:25px 70px;
   border-radius: 15px;
  background-color: #2b04b9;
  float: left;
  border:3px 3px soild rgb(75, 73, 79);
}
.img-text img{
  width:350px; height:230px; 
   margin:auto;
   border-radius: 15px;
   float: left; 
   z-index:1;   
   border:3px 3px soild rgb(75, 73, 79);
}
.text{
  position: relative;
  background-color: rgba(46, 37, 37, 0.524);
  width:350px; height:230px; 
  z-index:2;
  border-radius:14px;
  opacity: 0;
  transition: 1s    
}
.text:hover{
  position: absolute;
  visibility: visible;
  opacity: 1 ;  
}
.cat1{
position: absolute;
margin: 35%;
 margin-top:80px;
text-align: center;
color:#2b04b9;
font-weight:bold;
font-size:20px;
}
.cat2{
  width:100%;
  position: absolute;
  margin:auto;
   margin-top:170px;
  text-align: center;
  color:#a49393; 
  font-size:25px;   
}
      /* icons */
.cat3 {
  width:50%;
  position: absolute;
  margin:30px 75px ;
   margin-top:130px;
  text-align: center;
  color:#04066b; 
  font-size:30px;
}
.continte:after{ 
  content: "";
position: absolute;
width: 0; 
left: 0;
right: 0;
background-color:#1d2221;
opacity:.7;
transition: 1s;
border-radius:10px;
}
 .continte:hover::after{
  width:100%;
  height: 100%;
 }


/*///////////////////////////////////////////////////////////////////////////////////////////*/
.section4{
  width: 100%; height:100vh; 
    background-color: rgb(105, 140, 253);
}
.app1{
  position: relative;
  width:350px; height:230px;  
  margin-left:300px;
   margin:25px 70px;
   border-radius: 15px;
   float: left;
   background-color: #fff;
      border:2px solid #010133;
       box-shadow:3px 3px #262645;
}
.app2{
  position: relative;
  width:350px; height:230px; 
  margin-left:300px; margin:25px 70px;
   border-radius: 15px;
   float: left;
     background-color: #fff;
     border:2px solid #010133;
     box-shadow:3px 3px #262645;
}
.hc4{
  margin:20px 20px;
  color: #010133;
  font-size:33px;
}
.po1{
  color: #656192;
    margin:15px;
 font-size:26px;

}
.oo{
  color:#0101f6
}
.app1:after{
  content: "";
position: absolute;
width: 0; 
right: 0;
top:0;
left: 0;
background-color:#0f1010;
opacity:0;
transition: 1.2s;
  border-radius:15px;

}
 .app1:hover::after{
  width:100%;
  height: 100%;
  opacity:0.5;
 }
 .app2:after{
  content: "";
position: absolute;
width: 0;
right: 0;
top:0;
left: 0;
background-color:#0f1010;
opacity:0;
transition: 1.2s; 
    border-radius:15px;

}
 .app2:hover::after{
  width:100%;
  height: 100%;
  opacity:0.5;
 }
.section5{
  width: 100%; height:100vh; background-color: rgb(24, 43, 104);

}
.g-section5{
  width:90%; margin:auto;
}
.grob-section5{
  width:45%;  height:400px; float:left;  
  list-style: none; margin:40px;
  font-size:25px;
  color:#fff;
   font-family:'Courier New', Courier, monospace;
}
.img_il_section5{
  width:45%;  height:400px;  float:right;
  margin: 37px 20px; 
    
}
.img-section5{
  width:360px; height:360; 
   margin:10px 140px; float: right;
      border-radius:8px;
      border:3px solid #ae326e76; 
        box-shadow:3px 3px 1px 1px #0101337a;
    
}
.li5{
  width: 220px; height:30px;
   margin:auto; margin-top: 310px;
}
.li5 li{
  width: 13px; height: 13px; 
   margin:25px 28px;   margin-top:5px;
   border-radius:300px;    background-color: rgb(237, 237, 240);
  list-style:none; display:inline-block; 
   
}
.li5 li:hover{
  background-color:#ab2473;
}
.lim{
  background-color: #151598;
  color:#f4f4f5; 
  border:3px solid #2a0115;
  border-radius:50%;
  
}
.section6{   
     width:100%;   height:50vh;  background-image: url(pictures/imgs4.jpg);
  background-size:cover;  background-attachment: fixed;
   }
   .overley2{
    width:100%; height:50vh; margin:auto;
      background-color: rgb(8, 5, 24);
    opacity:0.8; 
    
   }
  .content2{
    width:95%; height:45vh;
     margin: auto; 
    font-size: 26px; color: #fdfdff;
    text-align: center;
    
  }
  .lio{
    color:rgba(0, 0,255); font-weight: bold; 
    font-size: 35px;
  }
 .go1  {
  margin-left:300px; margin:90px 89px;
   border-radius: 15px;
   float: left; 
 }
   .sectino7{
     width:100%;   height:100vh; 
      background-color: rgb(8, 1, 64); 
   }
   .Pricing{
    width: 90%;
     margin: auto;
   }
   .Pricing1{
    position: relative;
    width:320px; height:390px; 
    margin-left:300px; margin:25px 60px;
     border-radius: 10px;
     float: left;
     background-color: #fdfbfc;
     color: #080808; 
      box-shadow:2px 3px #9c9caf;
        font-weight: bold;  
   }
   .Pric2{
     text-align: center;
     font-size:25px;
     margin-top:30px;
   }
   .Pric3{
    width:90px; height:90px;
         border-radius:50px;
          background-color: #0c013a;
               font-weight:bold; 
                  border:2px solid rgb(6, 1, 33);
                  margin:auto;
                  margin-top: 30px;
                   box-shadow:2px 2px 2px #23236497;
   }
   .pricpp{
     font-size: 40px; font-weight: bold;
        color: #fdfdfd; text-align:center;
   }
    .pricpp0{
    color: #f8f7f7;
    text-align: center;
   }
   .pricpp1{
    color: #000020;   font-size:larger;   
    letter-spacing:3px;  
    text-align: center;
     margin-top:30px;
   }

   button{
    width:200px; height:25px; 
    font-size: larger;
    border-radius:10px;
     border:2px solid rgb(7, 1, 53);
     font-weight: bold;
     margin:50px 60px;
     color:#fff;
     background-color: #010133;
      box-shadow:3px 2px #00002083;
   }
   .Pricing1:after{
    content: "";
  position: absolute;
  width: 0; height: 0;
  top:0;
  left: 0;
  background-color:#0f1010;
  opacity:0;
  transition: 1.2s;
    border-radius:8px;
  }
   .Pricing1:hover::after{
    width:100%;
    height: 100%;
    opacity:0.7;
   }
   .sectino8{ width:100%;   height:50vh;  background-image:url(pictures/imgs2.jpg); 
    background-size:cover;  background-attachment: fixed;
   }
   .imgse8{
    width:100px; height:100px; border:4px solid #010133;
     border-radius:50px;  margin:10px;
   }
   .se81{
    width:300px; height: 250; 
     margin-right:right; float: right; margin:100px;
   }
   .se82{
    width:300px; height:250; 
  margin-left: left; float: left; margin:100px;
   }
   .se08{
    color: #f9f9fa;
   }
   .g-section8{
    width:70%; margin:auto;
   }
 h3{  
    float: right; margin:30px;
       color: #fbfafa;
}
.p33{
  float: right; margin:30px;
   margin-top:-62px;
   color: #240f9e;
   font-size:20px;
    font-weight:bold;
}
   .sectino9{ 
     width:100%;   height:100vh;
        background-color:  rgb(131, 131, 172);
   }
   .container {
    width: 80%;
    margin: auto;
    margin-top: 70px;
    
}

.go {
    margin: 0px  5%;
}
.team-item {
    position: relative;
    float: left;
    width: 30%;
    background-color: rgb(23, 4, 62);
    padding: 18px 14px;
    text-align: center;
}
.team-img {
    width: 90%;
    margin: auto;
    position: relative;
}
.team-img  img {
    width: 100% ;
}
.team-overlay {
    position: absolute ;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
    opacity: 0;
    transition: 1s ;
}
.team-item:hover  .team-overlay {
    visibility: visible;
    opacity: 1 ;    
}
.team-overlay a {
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgb(87, 44, 241);
    color: #fff;
    margin-left: auto ;
}
.team-overlay  a  i {
    line-height: 40px ;
    font-size: 20px;
}
.team-info-title {
    text-transform: capitalize;
    padding: 10px   0px ;
    color:#fff;
}
.team-info-p {
    text-transform: uppercase;
    color: grey;
}
.team-item:after{
    content: "";
  position: absolute;
  width: 0; height: 0;
  top:0;
  left: 0;
  background-color:#0f1010;
  opacity:0;
  transition: 1.5s;
  }
  .team-item:hover::after{
    width:100%;
    height: 100%;
    opacity:0.5;
   }
.sectino10{
  width:100%;   height:100vh;  background-color: rgb(28, 22, 97);
}
.pr1{
  float: right;
     width: 28%;
         background-color: rgb(197, 196, 196);
             padding: 18px 14px;
               text-align: center;
                     margin-left:30px;
                        border-radius:5px;
                        position: relative;
}
.pr2{
  position: relative;
  float: left;
         width: 28%;
           background-color: rgb(197, 196, 196);
             padding: 18px 14px;
                 text-align: center;
                     margin-right:70px;
                        border-radius: 5px;
}
.pr3{
    position: relative;
  float:left;
       width: 28%;
           background-color: rgb(197, 196, 196);
               padding: 18px 14px;
                 text-align: center; 
                   margin-left: 30px;
                   border-radius:5px;
}
.pr1:after{
  content: "";
  position: absolute;
  width: 0; height: 0;
  top: 0;
  right: 0;
  background-color:#3f3f4c;
    opacity:0;
      transition: 2s;
}
 .pr1:hover::after{
  width:100%;
  height: 100%;
  opacity:0.5;
 }
.pr2:after{
  content: "";
  position: absolute;
  width: 0; height: 0;
  top: 0;
  right: 0;
  background-color:#3f3f4c;
    opacity:0;
      transition: 2s;
}
 .pr2:hover::after{
  width:100%;
  height: 100%;
  opacity:0.5;
 }
.pr3:after{
  content: "";
  position: absolute;
  width: 0; height: 0;
  top: 0;
  right: 0;
  background-color:#3f3f4c;
    opacity:0;
      transition: 2s;
}
 .pr3:hover::after{
  width:100%;
  height: 100%;
  opacity:0.5;
 }
.bgrop10{
  width: 90%;
  margin: auto;
  position: relative;
}
.h210{
  margin-top:10px;
  text-transform: uppercase;
}
.li10{
  display:inline-block; 
  font-size: 20px;    margin:15px;
     color: #010180;
          list-style: none;
              margin-top:17px;
}
.a10{
  text-decoration: none;
  font-size: 19px;
  color:#1b1bd9;
  float:left;
  margin: 10px;
}
.p10{
  color: #505050;
  font-style: italic;
}
.pr3:hover{
  visibility: visible;
  opacity: 1 ;  
}
.sectino11{
  width:100%;   height:50vh;  background-color: rgb(41, 35, 52);
  
}
.grob_sectino11{
  width: 80%;
  margin: 30px 150px;
  float: left;
  padding: 18px 17px;
  text-align: center;
}
.content_img{
  width:250px;
   height:130px; 
        margin:auto;
        padding: 3px 4px;
        background-color: rgb(1, 16, 46);
        border-radius: 15px;   
}
.content_li{
  width:400px;
    height:50px; 
       margin:5px 400px;
       text-align: center;
       margin-top:10px;        
}
.content_li  li{
  display:inline-block; 
      font-size: 22px;
         color: #0303fb;
              list-style: none;
               background-color: rgb(248, 248, 249);
               border-radius:50%;
              margin:7px ;
               padding:10px;
} 
.content_p{
  text-align: center; color: #fff;
  font-size:20px;
} 